// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#containerhome {
  height: 600px;
  width: 600px;
  background-color: lightblue;
  margin: auto;
}
